# Copy this file to terraform.tfvars and fill in your actual values
# DO NOT commit terraform.tfvars to version control
# Sensitive values can be set via environment variables (TF_VAR_<name>)

proxmox_api_url          = "https://proxmox.lab.home/api2/json"
proxmox_api_token        = "terraform@pve!provider=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
proxmox_tls_insecure     = false
proxmox_node             = "minis"
proxmox_host_default_pwd = "changeme"
template_file_id         = "pve-cluster:vztmpl/debian13-docker-template.tar.gz"
static_ip                = "192.168.86.210"
forgejo_domain           = "forgejo.example.com"
